<div class="input-group date" data-provide="datepicker">
   Date:<br>
   <%= f.text_field :event_date, class: 'form-control' %>
   <div id="date-container"><i class="glyphicon glyphicon-th"></i></div>
 </div>
 Description: <br>
 <%= f.text_area :description, :cols => 30, :rows => 10 %> <br>
 <%= f.submit %>

