<h1>Toy#index</h1>
<p>Find me in app/views/toy/index.html.erb</p>

<h1>Board</h1>
<%= @board %>

<h1>Actions</h1>
<% @sorted_actions.each do |action| %>
  <h3>ID: <%= action.trello_card_id %> Type: <%= action.action_type %> Date: <%= action.datetime %> </h3>
<% end %>
